extends ./layout.pug
block contenido
  div(class="col-md-8 remove-float center-block text-center big-top-space")
    h1 Bienvenido #{user}
    a(href="/logini" class="right-space btn btn-success") Iniciar Sesión como empresas
    a(href="/login" class="right-space btn btn-success") Iniciar Sesión como cliente
    a(href="/sign" class="right-space btn btn-success") Registrate como empresas
    a(href="/signup" class="right-space btn btn-success") Registrate como clientes
