extends ./layout.pug
block contenido
  div(class="col-md-10 remove-float center-block text-center")
    h1 Bienvenido
    h2 su nickname es 
    h2 su id es 
    a(href="/companys/login" class="right-space btn btn-info") Iniciar Sesión como empresas
    a(href="/users/login" class="right-space btn btn-info") Iniciar Sesión como cliente
    a(href="/companys/new" class="right-space btn btn-danger") Registrate como empresas
    a(href="/users/new" class="right-space btn btn-danger") Registrate como clientes
    a(href="/ofert/new" class="right-space btn btn-danger") Registrar ofertas
    a(href="/service/new" class="right-space btn btn-danger") Registrar servicios
