doctype html
html(lang="es")
  head
    title Friender Api
    meta(charset="utf-8")
    link(rel="stylesheet" href="/css/bootstrap.css" media="screen")
    link(rel="stylesheet" href="/css/app.css" media="screen")
  body
    nav(class="large-padding black white-text")
      ul
        li
          a(href="/") Inicio
        li
          a(href="/users") usuarios
        li
          a(href="/users/#{user._id}/") #{user.username}
        li
          a(href="/app/imagenes/new") compañias
        li
          a(href="/app/imagenes/new") ofertas
    block contenido
