extends ./layout.pug
block contenido
	div(class="col-md-4 remove-float center-block top-space")
		form(method="post" action="/sign")
			div(class="form-group")
				label(for="name") Nombres
				input(class="form-control" type="text" name="name")
			br
			div(class="form-group")
				label(for="username") Nit
				input(class="form-control" type="text" name="nit")
			br
			div(class="form-group")
				label(for="username") Lugar de fundacion
				input(class="form-control" type="text" name="place_fundation")
			br
			div(class="form-group")
				label(for="username") Correo Electronico
				input(class="form-control" type="email" name="email")
			br
			div(class="form-group")
				label(for="username") Telefono Movil
				input(class="form-control" type="number" name="tel")
			br
			div(class="form-group")
				label(for="username") Username
				input(class="form-control" type="text" name="username")
			br
			div(class="form-group")
				label(for="username") Nickname
				input(class="form-control" type="text" name="nickname")
			br
			div(class="form-group")
				label(for="username") Password
				input(class="form-control" type="password" name="password")
			br
			div(class="form-group")
				label(for="username") Fecha de fundacion
				input(class="form-control" type="date" name="fundation")
			br
			div(class="form-group")
				label(for="username") Tipo de compañia inmobiliaria o otros
				select( class='form-control' name='typeOfCompany')
					option( value='inmobiliaria') inmobiliaria
					option( value='otros') otros
			br
			div(class="form-group")
				label(for="username") Direccion fiscal
				input(class="form-control" type="text" name="residence")
			br
			div(class="form-group")
				label(for="username") Clase de compañia
				select( class='form-control' name='class_company')
					option( value='sede principal') sede principal
					option( value='sucursal') sucursal
			br
			div(class="form-group")
				label(for="username") Telefono fijo
				input(class="form-control" type="number" name="tel_home")
			br
			div(class="form-group")
				label(for="profile_img") Imagen de perfil
				input(class="form-control" type="file" name="profile_img" id="profile_img")
			br
			div(class="form-group")
				label(for="banner") Imagen de portada
				input(class="form-control" type="file" name="banner" id="banner")
			br
			div(class="row top-space")
				div(class="col-xs-12 col-sm-6")
					input(type="submit" value="registrate",class="btn btn-info")
				div(class="col-xs-12 col-sm-6 text-right")
					a(href="/logini") Ya tengo una cuenta
